import(methods)
import(RSQLite)
import(AnnotationDbi)
import(AnnotationHub)
importFrom("utils",packageDescription)
importFrom("utils", packageVersion)
importFrom(BiocFileCache, makeCachedActiveBinding)

export(
    availablePthOrganisms,
    pthOrganisms,
    "pthOrganisms<-",
    resetPthOrganisms,
    traverseClassTree
)

exportMethods(select, keytypes, columns, keys)
