import(methods)
import(AnnotationDbi)
import(RSQLite)
importFrom("utils",packageDescription)

export(
    PANTHER,
    PANTHER_dbconn,
    PANTHER_dbfile,
    PANTHER_dbschema,
    PANTHER_dbInfo,
    keytypes,
    columns,
    keys,
    select,
    availablePantherSpecies,
    species,
    "species<-",
    resetSpecies,
    traverseClassTree
)

